@import '../../variables.sass'
@import '../../animations.sass'
.container
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    .row
        display: flex
        justify-content: center
        align-items: center
        &.animated
            opacity: 0
    .six.columns, .twelve.columns
        h1,h2
            text-align: center
            font-family: 'Major Mono Display', monospace
            color: $gray
        h1
            font-size: $header
        h2
            font-size: $subheader
    .six.columns
        app-svg-desktop
            max-width: 60%
    .twelve.columns
        button
            border: 0px !important
            color: #fff
        app-svg-desktop
            max-width: 50%
            display: block
            margin: auto 
        app-svg-mobile
            max-width: 100%
.cubic-animation-appear
    -webkit-animation: rotate-appear 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both
    animation: rotate-appear 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both
    opacity: 1
.cubic-animation-disappear
    -webkit-animation: rotate-disappear 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both
    animation: rotate-disappear 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both
    opacity: 0
.fade-out-animation
    -webkit-animation: fade-out 1s
    animation: fade-out 1s
    opacity: 0
.fade-in-animation
    -webkit-animation: fade-in 1s
    animation: fade-in 1s
    opacity: 1
    display: block
.scale-animation
    -webkit-animation: scale-center 2s cubic-bezier(0.860, 0.000, 0.070, 1.000) both
    animation: scale-center 2s cubic-bezier(0.860, 0.000, 0.070, 1.000) both
